  a {
    text-decoration: none;
  }
  .pagination-wrapper {
    text-align: center;
    margin: 40px 0;
  }
  .pagination {
    display: inline-block;
    height: 40px;
    margin-top: 0px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: #eee;
  }
  @media only screen and (max-width: 1199px) {
    .pagination {
      height: 50px;
      margin-top: 50px;
      padding: 0 10px;
      border-radius: 25px;
    }
  }
  .page-numbers {
    display: block;
    padding: 0 10px;
    float: left;
    transition: 200ms ease;
    color: #595959;
    font-size: 15px;
    letter-spacing: 0em;
    line-height: 40px;
  }
  .page-numbers:hover, .page-numbers.current {
    background-color: #017ac7;
    color: #fff;
    text-decoration: none;
  }

  .page-numbers.active{
    background-color: #017ac7;
  }

  .page-numbers.prev:hover, .page-numbers.next:hover {
    background-color: transparent;
    color: #017ac7;
    text-decoration: none;
  }

  @media only screen and (max-width: 1199px) {
    .page-numbers {
      padding: 0 15px;
      font-size: 16px;
      line-height: 50px;
    }
  }
  @media only screen and (min-width: 120px) and (max-width: 1024px) {
    .page-numbers {
      padding: 0 14px;
      display: none;
    }
    .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
      display: block;
    }
    .page-numbers:nth-last-child(-n+4) {
      padding-right: 14px;
    }
    .page-numbers:nth-last-child(-n+4)::after {
      content: none;
    }
  }
  